{% extends 'base.html' %}
{% block content %}
    <h1>Characters</h1>
    <div>
        Character List Coming Soon
    </div>
    <hr />
    <h2>Add a new Character</h2>
    <form method="post" action="/characters/">
        <div>    
            <label for="name">Name:</label>
            <input id="name" name="name" class="form-input" />
        </div>
        <div>
            <label for="image">Image:</label>
            <input id="image" name="image" class="form-input" />
        </div>
        <div>
            <label for="birthday">Birthday:</label>
            <input id="birthday" name="birthday" class="form-input" type="date" />
        </div>
        <div>
            <label for="languages">Favorite Languages:</label>
            <input id="languages" name="languages" class="form-input" />
        </div>
        <div>
            <label for="bio">Bio:</label>
            <input id="bio" name="bio" class="form-input" />
        </div>
        <input type="submit">
    </form>
{% endblock %}